name: GPT4All API

on:
  workflow_dispatch:
    inputs:
      prompt:
        description: 'Prompt for GPT4All'
        required: true

jobs:
  gpt4all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install GPT4All
        run: pip install gpt4all

      - name: Run GPT4All
        id: run_gpt
        run: |
          python3 run_gpt4all.py <<< "${{ github.event.inputs.prompt }}"
